@import '../../../styles/mixins.scss';

.selected-item,
.hovered-item {
  outline: 5px solid var(--tango);
}
.carousal-item-contianer {
  width: 335px;
  display: flex;
  flex-direction: column;
  .carousal-item-image-container {
    width: 335px;
    height: 305px;
    position: relative;
    .carousal-item-image {
      width: 100%;
      object-fit: cover;
    }
  }
  .carousal-item-details-container {
    background-color: var(--white);
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;

    .carousal-item-title {
      font-family: 'Canela-Regular', serif;
      line-height: 150%;
      font-size: 24px;
      font-weight: 400;
    }

    .carousal-item-description {
      @include desktop-p2;
    }

    .carousal-item-read-more {
      @include read-more-link;
      width: 160px;
    }
  }
}

@media screen and (min-width: 768px) {
  .carousal-item-contianer {
    width: auto;
    .carousal-item-image-container {
      width: 400px;
      height: 400px;
    }

    .carousal-item-details-container {
      padding: 30px;
      width: 400px;
      min-height: 235px;
      .carousal-item-description {
        min-height: 90px;
      }
      .carousal-item-title {
        height: 36px;
        overflow: hidden;
      }
    }
  }
}
