:root {
  --tango: #fc4d0f;
  --rich-black: #231f20;
  --slate: #24272c;
  --sand: #f0dec1;
  --pewter: #ccc4b5;
  --midnight: #00263f;
  --evergreen: #1c3c34;
  --grey-50: #e3e4ea;
  --white: #ffffff;
  --slate-95: #2f3237;
  --slate-85: #45474c;
  --slate-50: #adacae;
  --slate-15: #dddfe5;
  --slate-10: #eeeff2;
  --global-theme: #fc4d0f;
}
