.welcome-cards-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

  z-index: 5;
  .welcome-text-section {
    padding: 27px 32px;
    background-color: var(--white);

    .welcome-title {
      color: var(--slate);

      font-family: 'Mallory-Book', serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 0.5px;

      padding-bottom: 8px;
      border-bottom: 0.5px solid var(--pewter);
    }

    .welcome-subtitle {
      color: var(--slate);

      font-family: 'Canela-Regular', serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      margin: 30px 0;
    }

    .welcome-markdown-container {
      p,
      .welcome-description {
        color: var(--black);
        font-family: 'Mallory-Book', serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
      }
    }
  }

  .image-cards-section {
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100vw - 40px);
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: transform 0.2s ease-in-out;
    position: relative;

    .welcome-card-image {
      position: absolute;
      object-fit: cover;
    }

    .welcome-card-label {
      width: 160px;
      height: 53px;
      padding: 18px 30px;
      background-color: var(--white);
      font-weight: 600;
      font-size: 14px;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .welcome-card-label:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
      color: var(--tango);
    }

    // &:hover {
    //   transform: scale(1.01);
    // }
  }

  // .apartments:hover {
  //   outline: 2px solid var(--global-theme);

  //   .welcome-card-label {
  //     color: var(--global-theme);
  //   }
  // }

  // .office:hover {
  //   outline: 2px solid var(--office-theme);

  //   .welcome-card-label {
  //     color: var(--office-theme);
  //   }
  // }

  // .retail:hover {
  //   outline: 2px solid var(--retail-theme);

  //   .welcome-card-label {
  //     color: var(--retail-theme);
  //   }
  // }
}

@media screen and (min-width: 768px) {
  .welcome-cards-container {
    .image-cards-section {
      width: 708px;
      height: 380px;
    }
    .welcome-text-section {
      width: 708px;
      height: 423px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .welcome-cards-container {
    width: 100%;
    gap: 30px;
    padding: 50px 0 0 0;
    margin-top: 0px;
    .welcome-text-section {
      width: 605px;
      height: 508px;
      .welcome-title {
        margin-top: 29px;
      }
    }

    .image-cards-section {
      width: 605px;
      height: 508px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .welcome-cards-container {
    margin-top: -5px;
    max-width: 1800px;
    .welcome-text-section {
      padding: 40px;
    }
  }
}
