.search-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.text-field {
  width: 100%;
  background-color: #fff;

  .MuiOutlinedInput-root {
    border: 0.5px solid #808080;
    color: #594c4c;
    padding-right: 0;
    font-family: 'Mallory-Book', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    outline: none;
    border-radius: 0;

    &:focus-within {
      outline: none;
      box-shadow: none;
      border-color: #808080;
    }

    &:hover {
      border-color: #808080;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
}

.dropdown-container {
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  z-index: 100;
  border-width: 0px 0.5px 0.5px 0.5px;
  border-style: solid;
  border-color: #808080;

  width: 350px;
  height: 86px;
  padding: 20px 93px 20px 15px;
}

.dropdown-header {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: 'Mallory-Book', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #808080;
}

.dropdown-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Mallory-Book', sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #24272c;

    &.active {
      color: #fc4d0f;
    }

    &:hover {
      color: #fc4d0f;
    }
  }
}
