.hero-outer-container {
  .hero-container {
    background-color: var(--slate-15);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vw;
    max-height: 400px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .hero-image {
      position: absolute;
      top: 20px !important;
      left: 20px !important;
      width: calc(100vw - 40px) !important;
      height: calc(100% - 40px) !important;
      z-index: 1;
    }
    .gradient-overlay {
      position: absolute;
      top: 20px !important;
      left: 20px !important;
      width: calc(100vw - 40px) !important;
      height: calc(100% - 40px) !important;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      z-index: 2;
    }
    .image-container {
      position: relative;
      z-index: 3;
      height: max-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .hero-heading {
        color: var(--white);
        text-align: center;
        font-family: 'Canela-Regular', serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 400px;
      }
      .hero-text {
        color: var(--white);
        text-align: center;
        font-family: 'Mallory-Book', serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 24px;
        max-width: 90%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-outer-container {
    padding: 30px;
    background-color: var(--slate-15);
    .hero-container {
      margin: 0px;
      .hero-image {
        top: 0px !important;
        left: 0px !important;
        width: calc(100vw - 40px) !important;
        height: calc(100% - 0px) !important;
      }
      .gradient-overlay {
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        width: calc(100vw - 60px) !important;
        height: calc(100% - 0px) !important;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        z-index: 2;
      }
      .image-container {
        height: max-content;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 60px;
        .hero-heading {
          width: 407px;
          max-width: none;
        }
        .hero-text {
          color: var(--white);
          text-align: center;
          font-family: 'Mallory-Book', serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin-top: 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-outer-container {
    padding: 30px;
    background-color: var(--slate-15);
    .hero-container {
      overflow: hidden;

      margin: 0px;
      height: 730px;
      max-height: none;
      .image-container {
        height: max-content;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 60px;
        .hero-heading {
          font-size: 52px;
          width: 665px;
          max-width: none;
        }
        .hero-text {
          color: var(--white);
          text-align: center;
          font-family: 'Mallory-Book', serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin-top: 24px;
          max-width: 685px;
        }
      }
    }
  }
}

.welcome-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  gap: 29px;
}

.hero-text {
  text-align: center;
  font-family: 'Canela-Text', serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 150%;
}

.hero-description-text {
  text-align: center;
  font-family: 'Mallory-Book', serif;
  font-size: 20px;
  font-weight: 400;
}
